{% extends "base.html" %}
{% block content %}

<!-- About Section starts-->

<section class="about" id="about">
    <h1 class="heading"> <span> Acerca de </span> Nosotros </h1>

    <div class="row">
        <div class="video-container">
            <video src="../static/video/854417-uhd_3840_2160_25fps.mp4" loop autoplay muted></video>
            <h3>"Para viajar lejos, no hay mejor nave que un libro"</h3>
        </div>

        <div class="content">
            <h3>PROGRAMA PUEDES </h3>
            
            <p>El "Programa Puedes" es una iniciativa que busca integrar a un sector vulnerable de la sociedad en un sistema de lectura mediante el intercambio de libros entre la Universidad Nacional de Córdoba y la biblioteca del barrio Bella Vista. </p>
            
            <p>El programa se fundamenta en el poder transformador de la lectura, que puede mejorar el ánimo de las personas en situaciones difíciles y fomentar su desarrollo personal. </p>

            
            <a target="_blank" href="https://www.fundacionpmilesi.org.ar/" class="mi-enlace">Link Biblioteca Popular de Bella Vista</a>

            <br>
            <br>
            
            <a href="https://www.eco.unc.edu.ar/biblioteca/" target="_blank">Link Biblioteca "General Manuel Belgrano" | F.C.E. </a>
        </div>
        
    </div>




</section>

{% endblock content %}